# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/

# Outputs
outputs/

# Environment Files
.env

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/